/* .background-image{
  background-image: url('img/seamless-pattern-grooming-dogs-different-260nw-1549658516.webp');
  background-size: contain;
  background-repeat: no-repeat;
  width: 200px;
  height: 100vh;
} */
body{
  background-color: rgba(253, 253, 253, 0.966);
  font-family: 'Courier New', Courier, monospace;
  background-repeat: no-repeat;
}
body h2{
  text-align: center;
}
body p{
  text-align: center;
}
body h2, p{
  background-color: rgb(0, 0, 0);
  color:rgb(255, 255, 255);
}

.wrapper{
  width: 940px;
  margin: 20px auto 20px;
  border: 2px solid #000000;
  background-color: azure;
}
header{
  text-align: center;
  background-color: #000000;
  margin-top: 20px;
  padding: 10px 0px 5px 0px;
  color: rgb(255, 255, 255);
  justify-content: center;
}
header img{
  height: 100px;
  width: 100px;
}
.container{
  background-color: black;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 35px;
  padding-bottom: 30px;
}

.mb-3{
  background-color:
  #000000;
  margin-top: 20px;
  padding: 10px 0px 5px 0px;
  color: white;
}
#information{
  text-align: center;
}

table{
  width: 100%;
  margin-bottom: 20px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  border-spacing: 0px;
  border-collapse: collapse;
  text-align: center;
  background-color: rgb(255, 255, 255);
}
td, th{
  border: 1px solid black;
}

.btn .btn-light{
  border: 1px solid black;
  margin-bottom: 35px!important;
}

#footer{
  background-color: rgb(161, 161, 161);
}